 <%= form_with url: path, method: method, local: true do |form| %>
    <p><%= form.label :description %></p>
    <p><%= form.text_area :description, size: "60x10" %></p>
    <p><%= form.button  :submit , name: "status", value: "Pending"%></p>

  <% end %>